.buttonicon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    user-select: none;

    &--primary {
        background-color: white;
        color: black;
        font-weight: 500;
    }

    &--secondary {
        border: 1px solid #2c2c2c;
        color: white;
        font-weight: 500;
    }

    &--transparent {
        color: #666666;
        transition: 0.1s ease-in-out;
    }

    &--transparent_bright {
        color: rgb(173, 173, 173);
    }

    &--transparent_dark {
        color: #666666;
    }

    &--secondary:hover, &--transparent:hover {
        background-color: rgba($color: white, $alpha: 0.05);
    }

    &--disabled {
        opacity: 0;
        cursor: default;
    }
}

// @media screen and (max-width: 768px) {
//     .buttonicon {
//         width: 35px;
//         height: 35px;
//     }
// }